body {
  background: #eeeeee;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  margin-bottom: 3rem;
}

.popup {
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;
  visibility: hidden;
}

.popup.show {
  visibility: visible;
}

.popup > form,
.popup > div {
  display: inline-block;
  background: #eeeeee;
  box-shadow: 0 1rem 1rem -1rem black;
  z-index: 2;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: auto;
  width: 20rem;
}

.popup > form input[type="Submit"] {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(100, 100, 100, 0.25) 100%);
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 0.1rem;
  padding: .75rem .25rem;
  text-align: center;
}

.popup > form input:not([type="Submit"]) {
  padding: .5rem .25rem;
  margin: .1rem 0 .5rem 0;
  border-radius: .1rem;
  border: solid 1px grey;
  width: 100%;
  box-sizing: border-box;
}

.popup .input_header label,
.popup .input_header p {
  display: inline;
}

.popup .input_header p {
  float: right;
  margin: 0;
}

.popup p.error {
  font-size: small;
  color: red;
  display: none;
}

.popup p.error.show {
  display: inline-block;
}

.popup p.info {
  font-size: small;
  margin-top: 0;
}

.popup p.info.show {
  color: red;
}
