<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews - Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="../../../css/global.css" type="text/css" rel="stylesheet" />
    <script src="../../../js/global.js" type="text/javascript"></script>
    
		<link href="../../../css/loginRegistration.css" type="text/css" rel="stylesheet" />
    <script src="../../../js/loginRegistration.js" type="text/javascript"></script>
	</head>
  <body>
    {{> loginRegistration }}
    
    404 Not Found
  </body>

</html>
