<div id="welcome">
  {{#if username}} 
  <p>Welcome, {{username}}! <a href="#" onclick="logout()">Logout</a></p>
  {{else}}
  <p>Welcome, guest! <a href="#" onclick="show('login')">Login</a> or <a href="#" onclick="show('register')">Register</a> </p>
  {{/if}}
</div>

<div class="popup" onclick="hide('login', event)">
  <form id="login" onsubmit="login(event)">
    <div class="input_header">
    	<label for="username">Username</label>
      <p class="error USERNAME_MISSING">This field is required. </p>
    </div>
    <input type="text" id="username" name="username" autocomplete="current-username" required/>
    <p class="error USERNAME_UNKNOWN">This username does not exist. </p>
    
    <div class="input_header">
    	<label for="password">Password</label>
      <p class="error PASSWORD_MISSING">This field is required. </p>
    </div>
    <input type="password" id="password" name="password" autocomplete="current-password" required/>
    <p class="error PASSWORD_INCORRECT">Incorrect password. </p>
    
  	<input type="submit" value="Log in"/>
    <a href="#forgot">Forgot password</a>
  </form>
</div>

<div class="popup" onclick="hide('register', event)">
  <form id="register" onsubmit="register(event)">
    <div class="input_header">
    	<label for="email">Email</label>
      <p class="error EMAIL_MISSING">This field is required. </p>
    </div>
    <input type="email" id="email" name="email" autocomplete="email" required/>
    
    <div class="input_header">
    	<label for="new-username">Username</label>
      <p class="error USERNAME_MISSING">This field is required. </p>
      <p class="error USERNAME_AVAILABLE">Username available. </p>
    </div>
    <input type="text" id="new-username" name="new-username" autocomplete="none" required/>
    <button type="button" onclick="checkUsernameAvailability()">&#x21bb;</button>
    <p class="error USERNAME_IN_USE">This username is already in use. </p>
    <p class="info USERNAME_BAD_REGEX">Usernames can only contain letters and numbers. <br/> They may contain, but not start or end with, hyphens(-). </p>
    
    <div class="input_header">
    	<label for="new-password">Password</label>
      <p class="error PASSWORD_MISSING">This field is required. </p>
    </div>
    <input type="password" id="new-password" name="new-password" minlength="10" autocomplete="new-password" required/>
    <p class="info PASSWORD_TOO_SHORT">Passwords must be at least 10 characters long. </p>
    
  	<input type="submit" value="Register">
  </form>
</div>
